.lower-body {
  position: fixed;
  background-color: bisque;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  display: grid;
  grid-template-columns: 2.5% 97.5%;
}
.expand {
  grid-template-columns: 7% 93%;
}
