.Navbar .container {
  width: 100%;
  height: 100%;
  background-color: rgb(197, 221, 243);
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.Navbar {
  width: 100%;
  height: 50px;
  position: fixed;
}
.Navbar .user-logo {
  border-radius: 50%;
}
.Navbar .user-profile {
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.Navbar .search {
  border-radius: 30px;
  outline: none;
  border: none;
  height: 2em;
  width: 250px;
  margin: 0 5px;
}
.Navbar .image {
  position: relative;
  width: 100px;
  padding: 10px;
}
.Navbar .inner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}
.Navbar .inner-items {
  margin: 0 5px;
  font-size: 1.5em;
  cursor: pointer;
  padding: 5px;
}
.Navbar .inner-items:hover {
  background-color: rgb(123, 182, 238);
  border-radius: 30px;
}
