.SideMenu .container{
    background-color: rgb(51, 71, 255);
    width: 30px;
    height: 100%;
    transition-duration: 0.2s;
    padding: 10px;
    padding-top: 40px;
    position: fixed;
    color: white;
}
.SideMenu .container-open{
    width: 100px;
    padding: 40px 20px 10px 20px;
}
.SideMenu .show-hide-btn
{
    left: 40px;
    top: 10px;
    position: absolute;
    background-color: rgb(51, 71, 255);
    border: 3px solid white;
    padding: 10px;
    transition-duration: 0.2s;
    font-size: 1.5em;
    border-radius: 50%;
}
.SideMenu .item{
    border-radius: 25%;
    margin: 10px 0;
}
.SideMenu .menu-open{
    left:110px;
}
.SideMenu .item-active{
    background-color: rgb(24, 38, 168);
}